
div.flag a{
    
    display: inline;
}

#content {
    border: 1px solid black;
    background-color: #fefeee;
    padding: 2em;
    margin: 0 auto;
    height: 700px;
    width: 800px;
    border-radius: 30px;
}

.danishFlag, .swedishFlag {
    position: relative;
    width: 300px;
    height: 200px;
}

/*denmark*/
.denmark, .norway {
    background-color: #C60C30;
}

/*attributes they share*/
.denmark .part1, .sweden .part1, .norway .part1 {
    position: absolute;
    top: 0;
    left: 75px;
    width: 30px;
    height: 200px;
    background-color: white;
}

.denmark .part2, .sweden .part2, .norway .part2 {
    position: absolute;
    top: 85px;
    left: 0px;
    width: 300px;
    height: 30px;
    background-color: white;
}

/*sweden*/
.sweden {
    background-color: #004B87;
}

.sweden .part1 {
    
    background-color: #FFCD00;
}

.sweden .part2 {
    
    background-color: #FFCD00;
}

/*Norway*/

.norway .part1 {
    left: 80px;
    width: 40px;
    height: 200px;
    background-color: white;
}

.norway .part2 {
    top: 80px;
    width: 300px;
    height: 40px;
    background-color: white;
}
.norway .part3 {
    position: absolute;
    top: 0;
    left: 90px;
    width: 20px;
    height: 200px;
    background-color: #003087;
}

.norway .part4 {
    position: absolute;
    top: 90px;
    left: 0px;
    width: 300px;
    height: 20px;
    background-color: #003087;
}


