@page
@model AboutModel
@{
    ViewData["Title"] = "About page";
}

<div class="text-center">
    <h1 class="display-4">About</h1>
    <p>This exercise is about developing a webapplication using the .NET framework and the programming language C#</p>
</div>
