@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="~/css/style.css" />
<div class="text-center">
    <h1 class="display-4">Websoft Banking</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table>
        <tr>
            <th>number</th>
            <th>balance</th>
            <th>label</th>
            <th>owner</th>
        </tr>
        @foreach (var account in Model.Accounts)
{
        <tr>
            <td>@account.Number</td>
            <td>@account.Balance</td>
            <td>@account.Label</td>
            <td>@account.Owner</td>
        </tr>
}
</table>